flask>=2.0.0
gunicorn>=20.1.0
altair
pandas
hugchat>=0.0.8
beautifulsoup4>=4.12.2
openapi-schema-pydantic>=1.2.4
streamlit
python-dotenv>=1.0.0
flashrank
accelerate
span-marker
openpyxl
bitsandbytes
rank_bm25
llama-index
plotly
scipy
scikit-learn
tenacity
protobuf
scipy
sentencepiece
transformers
requests
pandas
numpy
html-parser
regex
rouge
boto3
tiktoken
openai[embeddings]
langchain
sentence_transformers
tiktoken
pdfminer.six
rank_bm25
openai==1.8.0
faiss-cpu
unstructured
htbuilder
rouge
nltk
