streamlit
Flask
gunicorn
altair
pandas
hugchat==0.0.8
beautifulsoup4==4.12.2
openai==0.27.7
openapi-schema-pydantic==1.2.4
streamlit
python-dotenv==1.0.0
accelerate==0.21.0
gradio==3.37.0
protobuf==3.20.3
scipy
sentencepiece
torch
transformers==4.31.0
requests
ffmpeg-python
mutagen
python-docx
pandas
numpy
html-parser
regex
tiktoken
openai[embeddings]
langchain
sentence_transformers
tiktoken
pdfminer.six
openai
faiss-cpu
unstructured
keybert[flair]
keybert[gensim]
keybert[spacy]
keybert[use]
htbuilder
gtts
PyMuPDF
unidecode
arxiv==0.5.3
tex2py
click
dateparser
expiringdict

